<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/juaracoding/sqabatch8/TestingMobileCalculatorApp/src/test/java/com/juaracoding/calculatorapp/TestCalculatorAdd.java"><classes><class name="com.juaracoding.calculatorapp.TestCalculatorAdd"><methods><include name="addTestingAutomation"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/juaracoding/sqabatch8/TestingMobileCalculatorApp/src/test/java/com/juaracoding/calculatorapp/TestCalculatorMultiply.java"><classes><class name="com.juaracoding.calculatorapp.TestCalculatorMultiply"><methods><include name="addTestingAutomation"/></methods></class></classes></test></suite>